html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400px;
  background-image: url("img/header-shapes.png");
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  background-color: rgb(153, 210, 246);
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 0 10%;
  text-align: center;
}

.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
}

.logo {
  margin: 0 auto;
}

.logo a {
  color: rgb(29, 29, 244);
}

.nav-menu a {
  color: blueviolet;
  transition: all ease-in-out 0.5s;
}

.sm_buttons a {
  text-decoration: none;
  font-size: 40px;
  width: 28px;
  height: 28px;
  line-height: 60px;
  text-align: center;
  background: gray;
  color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.nav-menu a:hover {
  background-color: yellow;
  transform: scale(1.1);
}

.nav-menu a:active {
  transform: scale(0.9);
}

section {
  text-align: center;
}

.sm_buttons {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

.sm_buttons a:hover {
  transform: scale(1.2);
}
